/* Captcha style */
.captcha-content {
    padding: 6% 5%;
    /* padding: 6% 7%; */
    width: 50%;
    margin: 0 auto;
}

p.error-text {
    margin: 5px 0 5px 0;
    color: #f00;
    text-align: center;
    font-size: 15px;
}

p.error-text.left {
    text-align: left;
}

p.error-text.line-height0 {
    line-height: 0;
}

form select.hide-select {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
}

.input-twocolumn.not-align-item {
    align-items: unset;
}

.input-twocolumn div.input-with-error {
    width: 48%;
}

.input-twocolumn div.input-with-error input {
    width: 100%;
    padding: 10px 15px;
}

.usertype-area .sub_userType,
.usertype-area .header_select {
    display: inline-block;
}

.userType_section .input__box::placeholder {
    color: #777777;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .captcha-content {
        padding: 6% 4%;
        width: 50%;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .captcha-content {
        padding: 6% 6%;
      }
}