/* Condition page */
.condition-wrap {
    padding: 160px 0;
}

.condition-text {
    color: #5b6e80;
    font-family: 'Sarabun', serif;
    line-height: 1.6;
    font-size: 18px;
}

.condition-text h4 {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    color: #2e4050;
    font-size: 24px;
    line-height: 1.5;
}

.condition-text ul li {
    list-style-type: disc;
    margin: 0 0 10px 25px;
    line-height: 1.6;
}

.bold-text {
    font-weight: 600;
}

ul.sender-text li {
    list-style-type: circle;
    margin-left: 30px;
}

h2.condition-header {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    color: #2e4050;
    font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    h1.condition-header.textHeadCondition {
        font-size: 38px;
      }
      h2.condition-header {
        font-size: 38px;
      }.condition-text h2 {
        font-size: 22px;
      }
      .condition-text h2.textHeadCondition {
        font-size: 22px;
      }
      .condition-text h4 {
        font-size: 22px;
      }
      .condition-text {
        font-size: 16px;
      }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  h1.condition-header.textHeadCondition {
    font-size: 24px;
    margin-bottom: 40px;

    /* margin-bottom: 30px; */
  }
  h2.condition-header {
    font-size: 24px;
    margin-bottom: 40px;

    /* margin-bottom: 30px; */
  }
  .condition-text h2.textHeadCondition {
    font-size: 18px;
    line-height: 1.3;
  }
  .condition-text h4 {
    font-size: 18px;
    line-height: 1.3;
  }
  .condition-text {
    font-size: 14px;
  }
  .condition-wrap {
    padding: 100px 0;
    width: 95%;
    margin: 0 auto;
  }
}