/*----------------------------
        Call to action CSS
------------------------------*/

.cta_section {
    padding: 100px 0 150px;
    position: relative;
}

.cta_section:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    content: '';
    background: linear-gradient( 360deg, rgba(231, 235, 240, 1) 0%, rgba(246, 248, 250, 1) 55%, rgba(255, 255, 255, 1) 100%);
    z-index: -1;
}

.cta-text h3 {
    font-size: 40px;
    color: #2e4050;
    line-height: 1.4;
    margin-bottom: 0;
}

.cta-btn li {
    display: inline-block;
    margin-right: 10px;
}

.cta_section.v2 .cta-text {
    text-align: center;
}

.cta_section.v2 .cta-text h3 {
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 50px;
    font-weight: 600;
}

.cta_section.v2 .cta-text p {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    margin: 30px 0 0;
}

.cta_section.v2 .cta-text p a {
    clear: both;
    color: #fff;
    text-decoration: underline;
}

ul.before-footer {
    text-align: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .cta-text h3 {
        font-size: 30px;
        color: #2e4050;
        line-height: 1.3;
        margin-bottom: 0;
      }
      .cta_section{
        padding: 80px 0;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .cta-text {
        margin-bottom: 40px;
        text-align: center;
      }
    
      .cta-btn {
        text-align: center;
      }
    
      .cta_section.v2 .cta-text h3 {
        font-size: 30px;
      }
    
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .cta_section {
      height: 340px;
      padding: 60px 0;
    }
    
      .cta-text h3 {
        font-size: 22px;
        margin-bottom: 40px;
        text-align: center
      }
    
      .cta-btn li {
        margin-right: 0;
        margin-bottom: 10px;
      }
    
      .cta_section.v2 .cta-text h3 {
        font-size: 26px;
      }

      .btn.v3{
        padding: 15px 20px;
        min-width: 200px;
        margin: 0 5px;
        font-size: 16px;
      }

      .btn.v5{
        padding: 15px 20px;
        min-width: 160px;
        margin: 0 5px;
        font-size: 16px;
      }
}