/*----------------------------
    Edu section  CSS
------------------------------*/

.edu_section {
    position: relative;
}

.edu_section:before {
    position: absolute;
    top: 47%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    background-image: url(../img/bg_4.png);
    width: 100%;
    height: 400px;
    background-position: bottom;
    background-size: cover;
}

.edu_box {
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 17px;
  margin: 0 10px 40px 0;
  width: 280px;
  height: 245px;
}

.edu_box img {
    width: 100%;
    position: relative;
    border-radius: 17px;
}

.edu_box_text {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    left: 0;
    padding: 30px;
    width: 100%;
    height: 110px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edu_box_text p {
    font-size: 18px;
    line-height: 1.4;
    color: #f1f1f1;
    font-family: 'Sarabun', serif;
    font-weight: 500;
    margin-bottom: 0;
}

.edu_text {
    text-align: right;
}

.edu_text h3,
.edu_text h2 {
    color: #fff;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 25px;
    font-weight: 400;
}

.edu_text a {
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
    text-decoration: underline;
    display: block;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .edu_box_text p {
        font-size: 16px;
        line-height: 1.4;
        color: #f1f1f1;
        font-family: "Sarabun", serif;
        font-weight: 500;
        margin-bottom: 0;
      }
      .edu_text h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .edu_box {
        width: 226px;
        height: 202.6px;
      }
      
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
      .edu_text {
        text-align: center;
      }
      .edu_section::before {
        top: 62%;
        height: 340px;
      }
    
      .edu_box {
        margin-right: 0;
        width: 330px;
        height: 296px;
      }
      .edu_box img{
        width: 330px;
        height: 296px;
      }
    
      .edu_box_text {
        padding: 15px;
        height: 90px;
      }
    
      .edu_box_text p {
        font-size: 15px;
      }
    
      .edu_text {
        text-align: right;
      }
    
      .edu_text h3, .edu_text h2 {
        font-size: 25px;
      }

      .edu_text a {
        font-size: 18px;
      }
      .edu_section::before {
        top: 49%;
        height: 1200px;
      }
      .edu_text {
        text-align: center;
      }
      .edu_text h3, .edu_text h2 {
        margin-bottom: 15px;
      }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {

  .edu_box {
    margin: 0 70px 20px;
    width: 205px;
    height: 183px;
  }

  .edu_section::before {
    height: 830px;
    top: 0;
    transform: translateY(0%);
    /* height: 950px; */
  }

  .edu_text h2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    /* padding: 0 10px;
    font-size: 20px; */
  }

  .edu_text a {
    font-size: 16px;
  }

  .col-md-push-6 {
    left: 0%;
  }

  .col-md-pull-6 {
    right: 0%;
  }
  .edu_section {
    padding: 50px 0;
  }

  .edu_text {
    margin-bottom: 30px;
    text-align: center;
  }
  .edu_box_text p {
    font-size: 14px;
  }
}