/*----------------------------
       Feature CheckIcon CSS
------------------------------*/
.feature_checklist_wrap {
    margin: 40px 0 80px;
}

.feature_checklist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    padding: 20px 25px;
    border: 3px solid #f1f4f8;
}

.check_text p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.2;
}

.check_img {
    margin-right: 20px;
}

.single_lang_wrap {
    margin-top: 60px;
}

.single_lang {
    margin: 0 0 60px 0;
    text-align: center;
}

.lang_link {
    color: #31b1e7;
    font-size: 20px;
    line-height: 1;
    margin-top: 20px;
    display: block;
}

.lang_link img {
    margin-left: 6px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .feature_checklist {
        margin-bottom: 25px;
      }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .feature_checklist_wrap {
        margin: 20px 0 20px;
      }
    
      .single_lang_wrap {
        margin-top: 30px;
      }
    
      .lang_link {
        font-size: 18px;
        margin-top: 0px;
      }
}