/*--------------------------------
            Footer  CSS
---------------------------------*/

.footer_section {
    background: #08101f;
    padding: 100px 0 70px;
    border-bottom: 5px solid #31b1e7;
}

.footer_section a {
    font-size: 18px;
}

.footer_section>.container>div.row>div.col-md-3:nth-child(4) a img {
    position: absolute;
    top: 6px;
}

.footer_widget h4 {
    font-size: 24px;
    color: #5b6e80;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer_widget ul li a {
    color: #2e4050;
    font-family: 'Sarabun', serif;
    display: block;
    margin-bottom: 5px;
}

.footer_widget ul li a:hover {
    color: #5b6e80;
}

.footer_bottom {
    padding: 100px 0 25px;
    margin-bottom: 20px;
    border-bottom: 3px solid #2e4050;
}

.footer_widget p {
    font-size: 30px;
    color: #5b6e80;
    font-weight: 500;
    margin-top: 20px;
}

.footer_widget p a img {
    max-width: 25px;
    margin-left: 10px;
}

.footer_contact {
    margin-top: 5px;
    text-align: right;
}

.footer_contact a {
    color: #2e4050;
    line-height: 1;
    font-family: 'Sarabun', serif;
}

.footer_contact a span:first-child {
  margin-right: 10px;
  margin-left: 10px;
  top: 7px;
}

.footer_contact a span{
    max-width: 26px;
    position: relative;
}

p.copyright {
    font-size: 18px;
    font-family: 'Sarabun', serif;
    text-align: right;
}

.footer_menu li {
    display: inline-block;
}

.footer_menu li a {
    color: #2e4050;
    font-family: 'Sarabun', serif;
}

.footer_menu li:first-child {
    padding-right: 18px;
}

.footer_section>.container>div.row>div.col-md-3:nth-child(4) a div.lazyload {
    position: absolute;
    top: 6px;
}
.md-none {
  display: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .footer_widget h4 {
        font-size: 20px;
      }
      .footer_section a,
      p.copyright {
        font-size: 16px;
      }
      .footer_bottom{
        width: 994px;
      }
      .footer_contact a span img{
        width: 25px;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_section a {
    font-size: 15px;
  }

  .footer_widget h4 {
    font-size: 24px;
  }

  .footer_logo img {
    max-width: 85%;
  }

  p.copyright {
    text-align: center;
    font-size: 17px;
  }

  .footer_widget p {
    font-size: 22px;
  }
  .footer_widget a{
    font-size: 17px;
  }

  .footer_menu {
    text-align: center;
  }

  .footer_contact {
    text-align: right;
    position: relative;
    top: 7px;
  }

  .footer_section a span img{
    width: 25px;
  }

  .footer_section {
    padding: 80px 0 55px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
      .xs-none {
        display: none;
      }
      .md-none {
        display:inline;
      }
      .footer_section {
        padding: 80px 30px 20px;
      }
    
      .footer_section a {
        font-size: 16px;
      }
    
      .footer_widget {
        margin-bottom: 30px;
      }
      
      .footer_widget h4 {
        font-size: 20px;
        margin-bottom: 15px;
      }
    
      .footer_menu {
        text-align: center;
        margin-top: 20px;
      }
    
      .footer_menu li {
        display: block;
      }
    
      p.copyright {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
      }
    
      .footer_menu li a {
        font-size: 14px;
      }
        
      .footer_logo {
        text-align: center;
      }
      .footer_contact {
        margin-top: 5px;
        text-align: left;
      }
      .footer_contact a {
        display: block;
        margin-bottom: 10px;
      }
      .footer_contact a span img{
        width: 25px;
      }
      .footer_section li {
        margin-bottom: 24px;
      }
      .footer_menu li:first-child {
        padding-right: 0px;
      }
}