/*--------------------------------
            Hero CSS
---------------------------------*/

.hero_section {
    padding-top: 110px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.hero_top_one {
    padding: 80px 0;
}

.hero_bottom_one {
    padding: 50px 0 100px;
}

.hero_text_one span {
    font-size: 30px;
    line-height: 1;
    display: block;
}

.hero_text_one h1 span {
    color: #000;
    font-size: 24px;
    line-height: 1.5;
    display: block;
    padding-bottom: 10px;
}

.hero_text_one h1 {
    font-size: 56px;
    font-weight: 500;
    color: #31b1e7;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 10px 0;
}

.hero_text_one p {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 0;
}

.hero_text_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 90px;
}

.hero_section.v2 {
    background-image: url(../img/hero_img_2.png);
    height: 1030px;
}

.hero_section.v2 .hero_text_one {
    height: 650px;
}

.hero_section.v2 .hero_text_one h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
}

.hero_section.v2 .hero_text_one p {
    font-size: 18px;
    line-height: 1.2;
    margin: 15px 0 60px;
    color: #5b6e80;
}

.hero_section.v2 .btn.v3,
.hero_section.v2 .btn.v5 {
    font-size: 18px;
    padding: 20px 40px;
}
.side__box.sticky__box {
    width: 442px !important;
}

.hero_section.v3 .container {
    max-width: 1420px !important;
}

.hero_section.v3.payment_home .container {
    max-width: 1280px !important;
}

.hero_curve {
    top: 58%;
    max-width: 61%;
}

.hero_img_one {
    margin-right: calc(100% - 43vw);
}
.hero_img_one object {
    width: 85%;
    height: auto;
    text-align: left;
}

.hero_img_two {
    margin-left: calc(100% - 46vw);
}
.section__title {
    font-size: 40px;
    line-height: 60px;
    color: #2e4050;
    font-weight: 500;
    margin-bottom: 40px;
}
.hero_section_2 {
    background: rgb(249, 250, 254);
    background: -o-linear-gradient(
        270deg,
        rgba(249, 250, 254, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(249, 250, 254, 1)),
        to(rgb(255, 255, 255))
    );
    background: -o-linear-gradient(
        bottom,
        rgba(249, 250, 254, 1) 0%,
        rgb(255, 255, 255) 100%
    );
    background: linear-gradient(
        360deg,
        rgba(249, 250, 254, 1) 0%,
        rgb(255, 255, 255) 100%
    );
}

.hero_section_2 .hero_top_one {
    padding-top: 80px;
    padding-bottom: 40px;
}
.tab__toggle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tab__toggle li a {
    -webkit-box-shadow: 8px 11px 40px rgba(92, 105, 118, 0.1);
    box-shadow: 8px 11px 40px rgba(92, 105, 118, 0.1);
    background-color: #fff;
    border: 2px solid transparent;
    font-size: 24px;
    color: #2e4050;
    width: 338px;
    height: 175px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 30px 20px;
    border-radius: 10px !important;
}

.tab__toggle li a img {
    height: 44px;
    margin-bottom: 15px;
}

.tab__toggle li a.active {
    border-color: #266dfe;
    background-color: #fff !important;
    color: #2e4050 !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .hero_section.v2 .container {
        margin: 0 88px;
        width: 994px;
    }
    .hero_top_one {
        padding: 0 0;
        width: 1024px;
    }
    .hero_section.v2 {
        height: 730px;
    }
    .hero_section.v2 .hero_text_one h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.3;
    }
    .hero_section.v2 .hero_text_one p {
        font-size: 17px;
        line-height: 1.2;
        margin: 5px 0 50px;
        color: #5b6e80;
    }

    .hero_section.v2 .btn.v3,
    .hero_section.v2 .btn.v5 {
        font-size: 18px;
        padding: 15px 30px;
    }
    .hero_section.v3.payment_home .container {
        /* max-width: 1200px !important; */
        max-width: 1140px !important;
    }
    .hero_section.v3 .container {
        max-width: 1200px !important;
    }
    .hero_section.v3 .hero_text_one {
        padding-left: 60px;
    }
    .hero_section.v3 .hero_text_one h1 {
        font-size: 40px;
        line-height: 1.1;
    }
    .hero_section.v3 .hero_text_one span {
        font-size: 40px;
    }
    h1.section__title {
        font-size: 40px;
        line-height: 50px;
        margin-top: 0px;
    }
    .section__title {
        font-size: 40px;
        line-height: 50px;
    }
    .tab__toggle li a {
        font-size: 20px;
        width: 280px;
        height: 160px;
    }
    .secSliderResource {
        margin: 60px 0;
    }
    .secSliderResource .sliderResource {
        min-height: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .hero_section {
        padding-top: 40px;
    }

    .hero_section.v2 {
        height: 550px;
    }

    .hero_section.v2 .container {
        /* width: 690px; */
        margin: 0 24px;
    }
    .hero_top_one {
        padding: 70px 0 0;
        margin-left: -15px;
        margin-right: -15px;
        width: 720px;
    }

    .hero_section.v2 .hero_text_one {
        height: 400px;
        z-index: 99;
        padding-bottom: 0;
        height: 400px;
        text-align: left;
        width: 53%;
    }

    .hero_section.v2 .hero_text_one p {
        font-size: 15px;
        margin: 15px 0 25px;
    }
    .hero_text_one span {
        font-size: 26px;
    }
    .hero_section.v2 .hero_text_one h1 {
        font-size: 32px;
    }

    .hero_text_one h1 span {
        font-size: 26px;
    }

    .hero_section.v2 .btn.v3,
    .hero_section.v2 .btn.v5 {
        font-size: 16px;
        padding: 15px 12px;
    }

    .hero_section.v2 .cta-btn {
        text-align: left;
    }
    .main-menu {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    img.hero_curve {
        display: none;
    }
    .hero_section.v3.payment_home {
        background-size: cover !important;
    }
    h1.section__title {
        font-size: 36px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .section__title {
        margin-bottom: 20px;
        font-size: 36px;
    }
    .tab__toggle li a {
        width: 200px;
        height: 150px;
        font-size: 20px;
        /* width: 190px;
      height: 140px; */
    }
    .tab__toggle li a img {
        height: 40px;
        margin-bottom: 15px;
    }
    .secSliderResource {
        margin: 60px 0;
    }
    .secSliderResource .sliderResource {
        min-height: 350px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .icon__box__wrapper {
        margin-top: 60px;
      }
      .icon__box {
        height: 90px;
        min-width: 90px;
        width: 90px;
        padding: 16px;
        margin-right: 30px;
      }
      .icon__box .serial__number {
        height: 28px;
        width: 28px;
        font-size: 14px;
        line-height: 28px;
      }
      .serial__content h4 {
        font-size: 22px;
        line-height: 32px;
      }
      .serial__content p,
      .serial__content p .link {
        font-size: 16px;
        line-height: 26px;
      }


      .tab__toggle li {
        /* width: 100%; */

        display: inline-block;
        width: 33%;
      }
      .tab__toggle li a {
        /* width: 225px; */
        /* height: 130px; */
        /* margin: 15px; */

        display: flex;
        flex-direction: column;
        align-items: center;

        height: auto;
        margin: 2%;
        width: 96%;
        padding: 10px 16px;
        min-height: 110px;
      }

      .tab__toggle li a img {
        height: 25px;
        margin-bottom: 15px;
      }
      .nav-link span {
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
        flex: 1;
      }

    .hero_img_one {
        margin-bottom: 50px;
        text-align: center;
        margin-bottom: 40px;
    }

    .hero_text_one {
        z-index: 99;
        text-align: center;
        padding-bottom: 0;
    }

    .hero_curve {
        top: 61%;
        max-width: 62%;
    }

    .hero_text_one span {
        font-size: 18px;
    }

    .hero_text_one h1 {
        font-size: 34px;
    }

    .hero_text_one p {
        font-size: 36px;
    }

    .hero_text_one h1 span {
        font-size: 18px;
    }

    .hero_top_one,
    .hero_bottom_one {
        /* padding: 80px 0 0;
         */
        padding: 70px 0 0;
    }
    
    h1.section__title{
        /* font-size: 33px; */
        /* margin-bottom: 0px; */
        margin-top: 0px;

        font-size: 24px;
        margin-bottom: 20px;
        line-height: 46px;
    }

    .section__title {
        /* font-size: 33px;
        margin-bottom: 0px; */

        font-size: 24px;
        margin-bottom: 20px;
        line-height: 46px;
    }
    .hero_section_2 .hero_top_one {
        padding: 60px 0 20px;
    }

    .hero_section.v2 {
        height: 300px;
        margin-bottom: 260px;
        margin-top: 5px;
        padding-top: 40px;
        background-image: url(../img/mobile/hero_img_2.webp);
    }

    .hero_section.v2 .cta-btn {
        text-align: center;
    }

    .hero_section.v2 .btn.v3 {
        font-size: 14px;
        padding: 12px 30px;
        min-width: 180px;
        margin: 0 10px;
    }

    .hero_section.v2 .btn.v5 {
        font-size: 14px;
        padding: 10px 26px;
        min-width: 180px;
        margin: 0 10px;
    }

    .hero_section.v2 .hero_text_one {
        height: 400px;
        text-align: center;
        width: 100%;
        padding-top: 300px;
        width: 96%;
        margin: 0 auto;
    }
    .hero_section.v2 .hero_text_one h1 {
        font-size: 24px;
    }
    .hero_section.v2 .hero_text_one p {
        margin: 15px 0 25px;
    }

    .hero_section.v3 .hero_top_one {
        padding: 60px 0 60px;
      }
    .hero_section.v3 .hero_text_one h1 {
        margin: 0;
    }
    .hero_section.v3 .hero_top_one.paymentPage {
        padding: 60px 0;
      }
    .hero_section.v3 .hero_text_one p span,
    .hero_section.v3 .hero_text_one p {
        font-size: 14px;
        border-left: none;
    }
}
