/*--------------------------------
            Service Feature  CSS
---------------------------------*/
.row_pad {
    padding-bottom: 120px;
}

.promo_section {
    padding: 80px 0;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.promo_text {
    text-align: center;
    margin: 150px 0 30px;
}

.promo_text h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}

.promo_text p {
    font-size: 36px;
    color: #5b6e80;
    line-height: 1.2;
}

.promo_text {
    text-align: center;
    margin-bottom: 30px;
}

.promo_text h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}

.promo_text p {
    font-size: 24px;
    color: #5b6e80;
    line-height: 1.2;
    margin-bottom: 70px;
}

.promo_title {
    background: #fff;
    padding: 18px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    min-width: 390px;
}

.promo_title p {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 0;
}

.promo_item {
    text-align: center;
}

.promo_img {
    text-align: center;
    width: 55%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promo_img img {
    margin: 45px auto 30px;
    display: block;
}

.promo_img object {
  min-height: 250px;
}

.promo_bottom_text {
    text-align: center;
    font-size: 20px;
    color: #5b6e80;
    margin: 80px 0;
}

.promo_bottom_text p span {
    color: #31b1e7;
}

.service_feature_text h3 {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 500;
}

.service_feature_text p {
    font-size: 20px;
    font-family: 'Sarabun', serif;
    line-height: 1.5;
    padding-right: 20px;
}

.service_feature_text a.link {
    font-size: 20px;
    color: #31b1e7;
    font-family: 'Sarabun', serif;
    margin: 20px 0 10px;
    display: block;
    text-decoration: underline;
}

.promo_link {
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Sarabun', serif;
    padding: 5px 10px;
    display: inline-block;
    margin: 20px 0 0;
    border-left: 2px solid #2983f7;
}

.promo_link span {
    color: #31b1e7;
}

.service_feature_item p {
    font-size: 20px;
    font-family: 'Sarabun', serif;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .promo_text {
        margin: 80px 0 30px;
      }
      .promo_text h2 {
        font-size: 36px;
        line-height: 1.1;
      }
      .promo_text p {
        font-size: 24px;
        color: #5b6e80;
        line-height: 1.2;
      }
      .promo_title p {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 0;
        font-weight: 500;
      }
      .service_feature_item p,
      .service_feature_text a.link{
        font-size: 18px;
      }
      .service_feature_text p {
        font-size: 18px;
        font-family: "Sarabun", serif;
        line-height: 1.5;
        padding-right: 20px;
      }
      .service_feature_text h3 {
        font-size: 30px;
        line-height: 1.3;
        font-weight: 500;
      }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .promo_item_three_img {
        text-align: center;
        margin-bottom: 30px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    
      .promo_item_three_img object {
        width: 100%;
      }
    
      .service_feature_item {
        margin-bottom: 30px;
      }
    
      .service_feature_text {
        text-align: center;
      }
    
      .promo_text h2 {
        font-size: 38px;
      }
    
      .promo_text p {
        font-size: 26px;
      }
    
      .promo_title {
        min-width: 300px;
      }
    
      .promo_title p {
        font-size: 20px;
      }
    
      .promo_bottom_text {
        font-size: 16px;
      }
      .promo_section {
        padding: 130px 0;
      }
      .service_feature_text a.link {
        margin: 20px 0 30px;
      }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .promo_section {
    padding: 50px 0;
    /* padding: 100px 0; */
  }
  .promo_text h2 {
    /* font-size: 26px; */
    font-size: 20px;
  }
  .promo_text p {
    margin-bottom: 40px;

    font-size: 18px;
  }
  .promo_text {
    margin: 120px auto 30px;
  }
  .promo_img {
    width: 60%;
    margin: 0px auto;
  }
  .promo_img object {
    min-height: 220px;
  }
  .promo_bottom_text {
    margin: 50px auto;

    font-size: 15px;
  }
  .promo_title {
    min-width: 300px;
  }

  .promo_title p {
    font-size: 18px;
  }

  .promo_link {
    border-left: 0px;

    font-size: 13px;
  }
  .promo_item {
    margin: 40px auto 20px;
  }
  .promo_item_three_img {
    text-align: center;
    margin-bottom: 30px;
  }
  .promo_item_three_img img {
    width: 75%;
    margin: 20px auto;
  }
  .row_pad {
    /* padding-bottom: 80px; */
    padding-bottom: 40px;
  }
  .service_feature_text {
    text-align: center;
  }

  .service_feature_text h3 {
    font-size: 22px;
  }
  .service_feature_text p {
    font-size: 16px;
    /* font-size: 14px; */
    text-align: left;
    width: 92%;
    margin: 0 auto 20px;
    padding: 0;
  }
  .service_feature_text a.link {
    font-size: 18px;
    /* font-size: 16px; */
  }
  .service_feature_item {
    margin: 0 38px 30px;
    /* margin: 0 20px 30px; */
    border: 3px solid #f1f4f8;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .service_feature_item img {
    margin: 0 auto 0px;
    display: block;
    max-width: 25%;
    flex: initial;
    width: 30%;
  }
  .service_feature_item p {
    font-size: 14px;
    font-family: "Sarabun", serif;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 0;
    text-align: left;
    padding: 0 0 0 20px;
    flex: 1;
  }

}