/*----------------------------
       Track CSS
------------------------------*/

.track_section {
    padding: 140px 0;
}

.track_top {
    margin-bottom: 60px;
}

.newsletter_text h3,
.newsletter_text h2,
.simple_icon_title h3,
.simple_icon_title h2,
.track_text h3 {
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 25px;
    font-weight: 500;
}

.newsletter_text p,
.simple_icon_title p,
.track_text p {
    font-size: 20px;
    line-height: 1.6;
    color: #5b6e80;
    font-family: 'Sarabun', serif;
}

.track_box {
    text-align: center;
    background: #fff;
    padding: 50px 30px;
    border-radius: 10px;
    height: 280px;
    margin: 0 55px;
    border: 1px solid #d5dae0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track_box h4 {
    font-size: 27px;
    line-height: 1.3;
    font-weight: 500;
}

.track_box h4 span {
    color: #31b1e7;
}

.track_box a.btn.v3 {
    display: inline-table;
    margin: 0 auto;
}
.track_img object {
    width: 85%;
    height: auto;
    text-align: center;
    margin-top: -80px;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .track_box h4 {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 500;
    }
    .track_box {
        height: auto;
        min-height: 240px;
    }
    .newsletter_text h3,
    .newsletter_text h2,
    .simple_icon_title h3,
    .simple_icon_title h2,
    .track_text h3 {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .edit_text_seo {
        margin-top: 0px;
    }

    h2.edit_text_seo {
        font-size: 1.75rem;
    }

    .newsletter_text h1,
    .simple_icon_title h1,
    .track_text h1.edit_text_seo {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 25px;
        font-weight: 500;
    }
    .track_box p {
        font-family: 'Sarabun', Arial, sans-serif;
        font-size: 16px;
    }
    .simple_icon_title.dev-page h3 {
        font-size: 24px;
    }
    .simple_icon_title.dev-page.edit_seo h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .track_section {
        padding: 60px 0;
    }

    .track_text {
        text-align: center;
        margin-top: 20px;
    }

    /* .track_text h3 {
    font-size: 34px;
  } */

    /* .track_text p {
    font-size: 20px;
  } */

    .track_box {
        height: 280px;
        margin: 0 60px 30px;
    }

    .track_box h4 {
        font-size: 32px;
    }

    .track_box p {
        font-family: 'Sarabun', Arial, sans-serif;
        font-size: 16px;
    }

    .track_box.whyBox {
        margin: 20px auto !important;
        width: 80%;
    }
    .newsletter_text {
        text-align: center;
        margin-bottom: 30px;
    }
    .newsletter_text h3,
    .newsletter_text h2,
    .simple_icon_title h3,
    .simple_icon_title h2,
    .track_text h3 {
        font-size: 29px;
    }

    .newsletter_text p,
    .simple_icon_title p,
    .track_text p {
        font-size: 17px;
    }
    .track_box.feature {
        margin-bottom: 20px;
    }
    .track_box p {
        font-size: 20px;
    }
    .track_box.productBox {
        margin: 15px auto !important;
        width: 80%;
    }
    .track_box.productBox img.col4 {
        width: 30%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .track_img object {
        width: 85%;
        height: auto;
        text-align: center;
        margin: -30px auto 0;
    }
    .track_section {
        padding: 45px 0;
    }

    .track_top {
        margin-bottom: 30px;
    }
    .track_text {
        text-align: center;
        margin-top: 20px;
    }

    .track_box {
        /* height: 240px;
        margin: 0 0px 30px; */
        padding: 30px 20px;

        height: auto;
        margin: 0 auto 30px;
        width: 90%;
    }

    /* .track_text h3 {
        font-size: 26px;
      }
    
      .track_text p {
        font-size: 16px;
      } */

    .track_box h4 {
        /* font-size: 22px; */
        font-size: 18px;
        margin-bottom: 20px;
    }

    .track_box p {
        font-family: 'Sarabun', Arial, sans-serif;
        font-size: 16px;
    }
    .track_box.whyBox {
        margin: 20px auto !important;
    }
    .track_box.productBox {
        width: 80%;

        height: auto;
        min-height: 300px;
        margin: 15px auto !important;
    }
    .track_box.productBox img.col4 {
        width: 30%;
    }
    .track_box.apipage p {
        text-align: center;
    }

    .newsletter_text {
        text-align: center;
        margin-bottom: 30px;
    }

    .newsletter_text h3,
    .newsletter_text h2,
    .simple_icon_title h3,
    .simple_icon_title h2,
    .track_text h3 {
        font-size: 24px;
    }

    .newsletter_text p,
    .simple_icon_title p,
    .track_text p {
        font-size: 15px;
        text-align: left;
        padding: 0 10px;
    }
    .simple_icon_title {
        margin-top: 70px;
      }

    .simple_icon_title.dev-page p {
        font-size: 15px;
        text-align: center;
        padding: 0 10px;
    }

    .simple_icon.smsTrakingpage {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;
        padding: 15px 20px;
        border: 2px solid #f1f4f8;
        background-color: #fff;
    }
    .simple_icon.smsTrakingpage img {
        flex: initial;
        width: 20%;
        margin: 0 20px;
    }
    .simple_icon.smsTrakingpage p {
        flex: 1;
        font-size: 16px;
        text-align: left;
        margin-top: 0;
    }
}
